body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px; /* Adjust height based on your Navbar height */
  background-color: #282c34;
  color: white;
  padding: 0 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar .btn {
  color: #61dafb;
}

.navbar .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.navbar .btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.navbar .text-sm {
  margin-right: 10px;
  color: #9ca3af;
}

.main-content {
  padding-top: 64px; /* Adjust height based on your Navbar height */
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}

.form-container .error {
  color: red;
  margin-bottom: 10px;
}

.sport-selector {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #333;
  color: white;
}

.sport-selector:hover {
  background-color: #555;
  color: #fff;
}
